h1 {
color: #f5f5f5;
font-size: 3rem;
margin-top: 3rem;
}

input:focus {
outline: none;
}

.login-box:before {
content: "";
background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
height: 100%;
left: 0%;
position: absolute;
top: 0;
width: 100%;
z-index: -1;
}

.login-box {
background-image: linear-gradient(120deg, rgb(246, 211, 101,) 0%, #fda085 100%);
border-radius: 20px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
display: inline-block;
margin-top: 2rem;
padding: 2rem;
width: 400px;
padding-right: 3em;
position: relative;
overflow: hidden;
}

.login-box:after {
content: "";
background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
height: 100%;
left: 0;
position: absolute;
top: 0;
transform: skewX(-20deg);
width: 100%;
z-index: -1;
}

input {
text-align: center;
color: #202020;
font-family: cursive;
font-size: 8px;
}

label {
text-align: center;
color: #202020;
}

input[type="text"],
input[type="password"] {
background-color: #eee;
border: none;
border-radius: 10px;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
font-size: 1.2rem;
margin: 1rem 0;
padding: 0.5rem;
width: 100%;
transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
background-color: #fff;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

input[type="submit"] {
background-color: #ab47bc;
border: none;
border-radius: 20px;
color: #fff;
cursor: pointer;
margin-top: 1rem;
padding: 0.5rem 2rem;
transition: background-color 0.3s ease;
font-family: cursive;
font-size: 1rem;
box-shadow: 0px 0px 40px #ab47bc;
}

input[type="submit"]:hover {
background-color: #68c1e7 ;
box-shadow: 0px 0px 40px rgba(127, 188, 255, 0.8);
}


main {
flex-grow: 1;
}

footer {
background-color: #202020;
color: #999;
font-size: 0.8rem;
text-align: center;
position: fixed;
bottom: 0;
width: 100%;
padding: 1rem;

}

.login-container {
margin-bottom: 4rem; /* adjust this value based on your footer height */
}



.signup {
display: inline-block;
background-color: transparent;
border: none;
margin: 0;
padding: 0;
font-family: serif;
font-size: 14px;
cursor: pointer;
margin-top: .5rem;
}

span.donthavespan {
color: #202020;
font-size: 1rem;
}

.signup-link {
color: #ab47bc;
font-family: cursive;
font-size: .9em;
font-weight: bold;
text-decoration: none;
border-bottom: .1rem solid transparent;
transition: all 0.3s ease-in-out;
margin-left: .2rem;
}

span.donthavespan .signup-link {
padding: 2rem;
}

.givemethemargin {
    align-items: center;
    margin: 0rem;
    overflow: hidden;
    margin-top: 2rem;
  }
  

.signup-link:hover {
transition: all ease;
color: #68c1e7;
border-bottom: .2em solid #68c1e7;
}

.signup-link:hover::after {
content: "";
display: block;
margin: auto;
width: 0;
background: transparent;
}

.signup-link:hover::after {
width: 100%;
background: transparent;
}