.star-container {
  position: relative;
  overflow: hidden;
}

.star {
  background-color: rgb(196, 196, 196);
  border-radius: 50%;
  height: 3px;
  position: absolute;
  width: 3px;
  z-index: -5;
  opacity: 0.2;
  box-shadow: 0 0 5px 1px rgba(49, 49, 38, 0.8);
}

.anim1 {
  animation: move1 6s ease-in-out infinite;
}

.anim2 {
  animation: move2 8s ease-in-out infinite;
}

.anim3 {
  animation: move3 10s ease-in-out infinite;
}

/* star animations */
@keyframes move1 {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.3) translate(5px, 5px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes move2 {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.3) translate(10px, 10px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}

@keyframes move3 {
  0% {
    transform: scale(1) translate(0, 0);
  }
  50% {
    transform: scale(1.3) translate(15px, 15px);
  }
  100% {
    transform: scale(1) translate(0, 0);
  }
}
